beautifulsoup4==4.10.0
black==23.11.0
dbt-postgres==1.7.3
dbt-spark[PyHive]
hyperopt==0.2.7
jupyterlab==4.0.9
lightgbm==4.2.0
pandas==2.1.4
pyarrow
psycopg2-binary==2.9.9
pydantic==2.5.2
pyspark==3.5.0
requests==2.31.0
scikit-learn==1.3.2
SQLAlchemy==2.0.24
matplotlib
seaborn
tensorflow
tensorflow-metal
mlflow
structlog
gymnasium
stable-baselines3[extra]
line_profiler
japanize-matplotlib
keras-tuner
shap
mlxtend
imbalanced-learn
bokeh

# Install tensorforce manually
# pip install tensorforce --no-deps
